<div>
	<table class="table sortable no-margin" cellspacing="0" width="100%">
		<thead><tr>
				<th class="black-cell"><span class="loading"></span></th>
				<th>Date</th><th>Transaction</th><th>Amount</th><th>Credit Account</th><th>Debit Account</th><th>Action</th>
		</tr></thead>
		<tbody>
			<tr data-ng-repeat="trans in accountingCtrl.transactions">
				<td class="th table-check-cell">
					<input type="checkbox" data-ng-model="trans.selected">
				</td>
				<td>
					<div data-dd4-datepicker="accountingCtrl.updateTransaction(trans, 'payment_date')"
               data-ng-model="trans.trans.payment_date">
					</div>
				</td>
				<td>
          <input type="text" data-ng-model="trans.bill.name"
                 data-on-change="accountingCtrl.updateTransaction(trans, 'name')">
        </td>
				<td>
          <input type="text" data-ng-model="trans.trans.amount"
                 data-on-change="accountingCtrl.updateTransaction(trans, 'amount')">
        </td>
				<td>
					<select data-ng-model="trans.bill.account_id"
                  data-ng-options="account.id as account.name for account in accountingCtrl.accounts | orderBy:'name'"
                  data-ng-change="accountingCtrl.updateTransaction(trans, 'account_id')">
					</select>
					{{trans.creditAcctBalPost}}
				</td>
				<td>
					<select data-ng-model="trans.debitAccountId"
                  data-ng-options="acct.id as acct.name for acct in accountingCtrl.paymentAccounts | orderBy:'name'"
                  data-ng-change="accountingCtrl.updateTransaction(trans, 'debit_account_id')">
					</select>
					{{trans.debitAcctBalPost}}
				</td>
			</tr>
			<tr>
				<td class="th">
					<button data-ng-click="accountingCtrl.addTransaction()">+</button>
					<div class="error-block" data-ng-show="accountingCtrl.transAddError">
						<p class="message error no-margin">{{transAddError}}</p>
					</div>
				</td>
				<td>
					<div data-dd4-datepicker data-ng-model="accountingCtrl.newTrans.date"></div>
				</td>
				<td><input type="text" data-ng-model="accountingCtrl.newTrans.name"></td>
				<td><input type="text" data-ng-model="accountingCtrl.newTrans.amount"/></td>
				<td>
					<select data-ng-model="accountingCtrl.newTrans.creditAccountId"
						data-ng-options="account.id as account.name for account in accounts">
					</select>
				</td>
				<td>
					<select data-ng-model="accountingCtrl.newTrans.debitAccountId"
						data-ng-options="account.id as account.name for account in bankAccounts">
					</select>
				</td>
				<td class="th">
					<button data-ng-click="accountingCtrl.addTransaction()">+</button>
					<div class="error-block" data-ng-show="accountingCtrl.transAddError">
						<p class="message error no-margin">{{transAddError}}</p>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>